* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== HEADER ===== */
.header {
    display: flex;
    align-items: center;
    background-color: #c7d2fe; /* pastel lavender blue */
    padding: 10px 15px;
    color: #374151;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 19px;
    font-weight: bold;
}

.search {
    flex: 1;
    margin: 0 20px;
}

.search input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: #eef2ff;
}

.admin {
    margin-left: auto;
}

/* ===== MAIN CONTAINER ===== */
.container {
    display: flex;
}

/* ===== SIDEBAR ===== */
.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
    background-color: #e0e7ff; /* pastel indigo */
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #374151;
    margin-bottom: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #6366f1;
}

/* ===== CONTENT ===== */
.content {
    flex: 1;
    background-color: #f8fafc; /* soft light background */
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 150vh;
}

/* ===== SMALL CARDS ===== */
.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 250px;
    background-color: #fde2e4; /* pastel pink */
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.card h3 {
    font-size: 15px;
    margin-bottom: 1px;
    color: #374151;
}

.card p {
    font-size: 15px;
    font-weight: bold;
    color: #111827;
}

/* ===== STATS BOXES ===== */
.stats {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.stat-box {
    flex: 1 1 200px;
    background-color: #a7f3d0; /* pastel mint green */
    color: #065f46;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
}

.stat-box h3 {
    font-size: 15px;
    color: #065f46;
}

.stat-box p {
    font-size: 12px;
    color: #065f46;
}
